<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body data-target=".contents" data-spy="scroll">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

    <section class="contents">
      <header class="header">
        <h2 class="heading">H5 Idioms</h2>
        <h2 class="logo">H5I</h2>
      </header>
      <form  class="secondary-nav"><select name="search">{% include select.html %}</select></form>
      <nav class="nav">
        <ul>
          {% include docs-nav.html %}
        </ul>
      </nav>
    </section>

    <section class="doc">
      <header id="start" class="header">
        <h1>Idioms of semantic HTML</h1>
        <p>
          Collection of templates and snippets of semantic HTML that can be used as boilerplate while working on markup
        </p>
      </header>
      <article class="article">
        {{ content }}
      </article>
      <div id="disqus_thread"></div>	
    </section>
    <a class="docs-top affix" href="#start">
        Back to top
    </a>
    {% include colophon.html %}
    {% include footer.html %}
  </body>
</html>
