<li><a href="#article-details"> Article details</a></li>
<li><a href="#article-list"> Article list</a></li>
<li><a href="#bread-crumbs"> Bread crumb navigation</a></li>
<li><a href="#company-info"> Company info</a></li>
<li><a href="#conversations"> Conversations</a></li>
<li><a href="#download-link"> Download link</a></li>
<li><a href="#figure"> Figure + WAI-ARIA</a></li>
<li><a href="#footnotes-annotations"> Footnotes: annotations</a></li>
<li><a href="#footnotes-side-notes"> Footnotes: side notes</a></li>
<li><a href="#form"> Form</a></li>
<li><a href="#glossary"> Glossary of terms</a></li>
<li><a href="#holy-grail-layout"> Holy Grail Layout</a></li>
<li><a href="#meta-data"> Metadata</a></li>
<li><a href="#quotation"> Quotation</a></li>
<li><a href="#subheadings"> Subheadings, subtitles, alternative titles and taglines</a></li>
<li><a href="#tag-cloud"> Tag clouds</a></li>
<li><a href="#video"> Video</a></li>
