<option value="#article-details"> Article details</option>
<option value="#article-list"> Article list</option>
<option value="#bread-crumbs"> Bread crumb navigation</option>
<option value="#company-info"> Company info</option>
<option value="#conversations"> Conversations</option>
<option value="#download-link"> Download link</option>
<option value="#figure"> Figure + WAI-ARIA</option>
<option value="#footnotes-annotations"> Footnotes: annotations</option>
<option value="#footnotes-side-notes"> Footnotes: side notes</option>
<option value="#glossary"> Glossary of terms</option>
<option value="#holy-grail-layout"> Holy Grail Layout</option>
<option value="#meta-data"> Metadata</option>
<option value="#quotation"> Quotation</option>
<option value="#subheadings"> Subheadings, subtitles, alternative titles and taglines</option>
<option value="#tag-cloud"> Tag clouds</option>
<option value="#video"> Video</option>
